---
import MainLayout from '../layouts/MainLayout.astro';
import Home from '../components/Home.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<MainLayout>
    <Home>
</MainLayout>
