.article-card {
    display: flex;
    flex-direction: row;
    width: 840px;
    margin-bottom: 20px;
    background-color: #00222D;
    border-radius: 5px;
    padding: 10px;
    height: 160px;
}

.article-card:hover {
    background-color: #00323c;
    cursor: pointer;
    box-shadow: 0 0 20px #00323c;
}

.article-card a {
    display: flex;
}

.article-card img {
    width: auto;
    height: 160px;
    margin-right: 20px;
    border-radius: 5px;
}

.article-description {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.article-description-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-description-header h2 {
    margin: 0;
}

.article-date {
    color: gray;
}

.article-description-header .article-date {
    min-width: 100px;
}

.article-description-header .article-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article-description-text {
    margin-top: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
}