---
import './cardArticle.css'

const { props } = Astro.props
---
<script>
const descriptions = document.querySelectorAll('.article-description');

for (const description of descriptions) {
    const title = description.querySelector('.article-title')
    const divHeight = title.offsetHeight
    const lineHeight = parseInt(title.style.lineHeight);
    const lines = divHeight / lineHeight;

    if (lines === 2) {
        description.querySelector('.article-description-text').style['-webkit-line-clamp'] = 3
    }
}
</script>
<div class="article-card">
    <a href={`/blog/${props.slug}`} >
        <img src={props.heroImage}/>
        <div class="article-description">
            <div class="article-description-header">
                <h2 class="article-title" style="line-height: 28px;">{props.title}</h2>
                <span class="article-date">{props.pubDate}</span>
            </div>
            <div class="article-description-text">{props.description}</div>
        </div>
    </a>
</div>

