.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: auto;
    padding: 40px;
}
.title {
    font-size: 2.3rem;
}
.about {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.about img {
    padding-right: 10px;
}

.about:hover {
    font-size: 1.6rem;
}