---
import { SITE_TITLE } from '../config';
import './nav.css'

const isAbout = Astro.url.pathname === '/about'
---
<header class="header">
    <a href="/"><h1 class="title">{SITE_TITLE}</h1></a>
    {
        isAbout ?
            <a href="/" class="about"><img src='arrowleft.svg' /> Blog</a>
            :
            <a href="/about" class="about">À propos de moi</a>
    }
</header>
