.content {
    text-align: justify;
    background-color: #00222D;
    padding: 20px;
    /*font-size: 1.125em;*/
}

.portrait {
    float: right;
    width: 292px;
    height: 292px;
    border-radius: 400px;
    margin-left: 20px;
    object-fit: contain;
}

.about-sub-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-header {
    display: flex;
    flex-direction: column;
    font-family: "Inconsolata", sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

.about-sub-header img {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}