---
import BaseHead from '../components/BaseHead.astro';
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import './about.css';
---
<!DOCTYPE html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	    <Nav />
	    <main>
            <div class="content">
                <img src="/fhenry-rounded.png" class="portrait" />
                <div class="about-header">
                    <div>François HENRY</div>
                    <div class="about-sub-header">
                        <div>Développeur Full Stack</div>
                        <a href="https://www.linkedin.com/in/francois-henry/" target="_blank"><img src="/Linkedin_icon.png" /></a>
                    </div>
                </div>
                <div class="text">
                    <slot/>
                </div>
	        </div>
	    </main>
        <Footer />
	</body>
</html>