---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import './blogpost.css';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---
<html lang="fr">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Nav />
		<main>
			<article>
			    <div class="article-header">
                    {heroImage && <img src={heroImage} alt="" />}
                    {pubDate && <div class="pub-date">date de publication : {pubDate}</div>}
				</div>
				<h1 class="title">{title}</h1>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
	<script>
	const links = document.querySelectorAll('article a')

	for (const link of links) {
	    link.setAttribute('target', '_blank')
	}
	</script>
</html>
