article {
    background-color: #00222D;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
}

article img {
    border-radius: 5px;
    max-width: 720px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

article a {
    color: #a76fef;
}

.article-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

pre {
    padding: 20px 0;
    display: block;
    width: 100%;
}


